.swal2-popup {
    font-size: 0.7rem !important;
}
input.stv-radio-tab {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

input.stv-radio-tab+label {
    cursor: pointer;
    border: 1px solid #F5F3F3;
    background-color: #fff;
    padding: 4px 15px;
    position: relative;
    text-align: center;
    display: inline-block;
    font-weight: 100;
    font-size: 1.3em;
    text-transform: none;
}

input.stv-radio-tab:hover {
    background-color: #eee;
}

input.stv-radio-tab:checked+label {
    background-color: #ba2a84;
    border-color: #ba2a84;
    color: #fff;
    z-index: 1;
}
.custom-radio:first-child label {
    border-radius: 30px 0 0 30px;
}

.custom-radio:last-child label {
    border-radius: 0 30px 30px 0;
}

.custom-radio {
    position: relative;
}
.commonnavigationjtc li.uk-active a {
    border-color: transparent !important;
}

.commonnavigationjtc li.ukactiveclass a {
    border-color: #ba2a84 !important;
}

#toTopFromBottom {
    display: inline-block;
    background-color: #ebb800;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 6px;
    right: 30px;
    transition: background-color .3s,opacity .5s,visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000
}

#toTopFromBottom::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: 400;
    font-style: normal;
    font-size: 1em;
    line-height: 50px;
    color: #fff
}

#toTopFromBottom:hover {
    cursor: pointer;
    background-color: #333;
    text-decoration: none
}

#toTopFromBottom:active {
    background-color: #555
}

#toTopFromBottom.show {
    opacity: 1;
    visibility: visible
}


/* styles.css */
/* .content-section {
    position: relative;
}
#buffering-loading-screen {
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}


.bufferingcontent {
    display: none;
    text-align: center;
} */

@media screen and (max-width: 600px) {
    .growth-matrix  .uk-tab{
      margin-left: 0;
    }
    .profile-information h2 {
      font-size: 1.0rem;
      color: #059ACB;
      margin: 0 !important;
    }
    .profile-information h2 span {
      font-size: 1.5rem;
      color: #6B1867;
    }
    .profile-information h1 {
      margin-top: 0;
    }
    .atr-table button.uk-button {
      font-size: 0.7em
    }
    table.atr-table tr.atr-rating div {
        font-size: 0.9em;
        width: 1.8em;
        height: 1.8em;
    }
    .more-risk-down {
        background-size: contain;
        background-repeat: repeat;
        background-position: top;
    }    
    .RiskMatrixRiskTableData img.tableicon{
      width: 16px !important;
    }  
    body .more-risk-down {
      background-size: contain;
      background-repeat: repeat;
      background-position: top;
     }
  
     table.atr-table tr.atr-rating div {
      font-size: 0.9em;
      width: 1.8em;
      height: 1.8em;
  }
  }